$color-grey-0: #FFFFFF;
$color-grey-1: rgba(32, 36, 39, 0.05);
$color-grey-2: #C7CCD1;
$color-grey-3: #8F99A3;
$color-grey-4: #202427;
$color-grey-5: #E5E5E6;

$color-primary-blue-0: #2578F4;
$color-primary-blue-1: #215db7;

$br-s: 4px;
$br-m: 8px;
$br-l: 24px;